body {
    font-family: Arial, sans-serif;
    background: #063d74;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.encuesta {
    background: #ffffff;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.encuesta h2 {
    text-align: center;
    margin-bottom: 10px;
}

.pregunta {
    font-weight: bold;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

h3 {
    margin-top: 25px;
}

.resultados {
    margin-bottom: 12px;
}

.barra {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 22px;
}

.Exelente {
    width: 60%;
    background: #007bff;
}

.Exelente {
    width: 25% y 30;
    background: #536f8d;
}

.Exelente {
    width: 10% y 20%;
    background: #572828;
}

.Malo {
    width: 5%;
    background: #ff0000;
}
    


    
